

#about {
    text-align: left;
    margin: auto;
    padding-left: 1em;
	  padding-top: 20vh;
    z-index: 20;
    position: relative;
}

#about iframe {
  margin: 20px auto;
  width: 80vw;
  height: 460px;
  max-width: 800px;
}

#about p {
    text-align: left;
	font-size: 1.2rem;
	max-width: 400px;
}

#about h2 {
	margin: 30px 0;
	color: var(--primary-color);
}

.social a {
	margin: 0 5px;
}

.seeMore {
  font-family: 'Magz', sans-serif;
}

.about, .about > * {
    z-index: 20;
}

.about p {
  margin-bottom: 2em;
}

.imageContainer {
  z-index: 1;
  position: absolute;
  overflow-y: visible;
  left: 0;
  width: 100%;
  /* top: 57vh; */
}

.imageBox {
  width: auto;
}

.imageBox img {
  width: 100%;
}

.imageBox p i {
  font-size: 0.6em;
  line-height: 0.6em;
  color: var(--dark-primary-color);
}

.imageBox p {
  height: auto;
}

.imageContainer img {

  transform: translateY(-35%);
  width: 100%;
}
