.nav {
    height: 48px;
    display: flex;
    background-color: var(--primary-color);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3),
                0px -10px 20px rgba(255,255,255,1);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navContent {
    max-width: 1300px;
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
}

.navContent .link {

    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.navContent .link a {
    color: white;
    font-weight: lighter;
    font-size: 1rem;
}

.nav .logo {
    margin: auto;
    height: 100%;
}