.nav {
    height: 108px;
    display: flex;
    background-color: var(--primary-color);
    
    /* background-image: url('../../background.png'); */
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    z-index: 25;
}

.navContent {
    max-width: 1300px;
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
}

.navContent .link, .navContent li {
    margin-top: auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    color: white;
    font-weight: lighter;
    font-size: 1rem;
}

.logo {
    margin: auto;
    height: 100%;
}

.header {
    /* position: relative;
    z-index: 30;
    text-align: left;
    height: 60px; */
    /* background-color: white; */
    /* background-color: var(--primary-color); */
}

.headerLogo {
    position: sticky;
    margin: 4px auto 4px 4px;
    height: 36px;
}